################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab_05_Zahrebelnyi/.vs/Lab_05_Zahrebelnyi/FileContentIndex
/Lab_05_Zahrebelnyi/bin/Debug/net8.0
/Lab_05_Zahrebelnyi/obj
